.about__content {
    display: flex;
    position: relative;
    flex-direction: column;
}

.about__home-link {
  position: absolute;
}

.about__home-image {
  max-width: 75px;
  width: 100%;
  min-height: 75px;
}

.about__title {
    color: #000;
    font-size: 40px;
    margin: 15px auto;
}

.about__text {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2; 
  margin: 24px 0 0 25px;
}