.addDish__form {
    display: flex;
    flex-direction: column;
  }
  
  .addDish__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2; 
    margin: 24px 0 0 25px;
  }
  
  .addDish__input {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: none;
    border-bottom: solid 1px #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }