.sidebar {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.sidebar:hover {
    box-shadow: 0 0 10px 5px #fff;
}

.sidebar__form {
    display: flex;
    flex-direction: column;
}

.sidebar__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2; 
    margin: 8px 0 0 25px;
  }
  
  .sidebar__input {
    display: block;
    width: 90%;
    margin: 0;
    border: none;
    border-bottom: solid 1px #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }

.sidebar__button {
 max-width: 80px;
 padding: 0;
 width: 100%;
 margin: 8px auto 5px;
 background: transparent;
 border: none;
 cursor: pointer;
 font-size: 22px;
 line-height: 1.2;
 font-weight: 600;
}

.sidebar__button:hover {
    box-shadow: 0 0 10px 5px #fff;
}

.sidebar__guest_list {
    padding: 0;
    margin: 5px auto 0 10px;
}

.sidebar__total {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin: auto auto 10px;
}