.footer {
margin: 60px auto 0;
display: flex;
flex-direction: column;
}

.footer__head {
display: flex;
border-bottom: 1px #000;
margin: 0 auto 0;
}

.footer__logo {
  max-width: 45px;
  width: 100%;
  min-height: 45px;
}

.footer__title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
}

.footer__links {
  display: flex;
  max-width: 300px;
  gap: 40px;
  margin: 0 auto 0;
}

.footer__link {
    text-decoration: none;
}

.footer__navigation {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  margin: 0;
}

.footer__navigation:hover {
  box-shadow: 4px 0px 8px red;
}

.footer__person_icons {
  display: flex;
  gap: 30px;
  margin: 16px auto 16px;
  position: relative;
}

.footer__person {
  border-radius: 45%;
  border: none;
  background-color: #f8b12c;
  cursor: pointer;
}

.footer__person:hover {
  box-shadow: 4px 0px 8px red;
}

.footer__popup_cole {
    position: relative;
    max-width: 150px;
    width: 100%;
    height: 100px;
    background-color: azure;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s linear;
}

.footer__popup_bj {
  position: relative;
  max-width: 150px;
  width: 100%;
  height: 100px;
  background-color: azure;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.5s linear;
}

.footer__picture {
    max-width: 150px;
    width: 100%;
    height: 100px;
    border-radius: 50%;
    box-shadow: 4px 0px 8px #000;
}

.footer__popup-text {
  position: absolute;
  cursor: pointer;
  color: #000;
  bottom: -38px;
  right: 30px;
}

.footer__popup-text:hover {
  box-shadow: 4px 0px 8px red;
}

.footer__popup_open {
  visibility: visible;
  opacity: 1;
}

.footer__copyright_box {
  display: flex;
  border-top: 2px solid #000;
}

.footer__copyright {
  color: #000;
  margin: 15px auto 0;
}